@import "./app.scss";
$dark-color: #19191b;
$blackish: #28292b;
$greyish: #bbc2bc;

@mixin direction($flow) {
  display: flex;
  flex-direction: $flow;
  justify-content: space-between;
  align-items: center;
}

@mixin colors($coloring) {
  background-color: $coloring;
  color: $coloring;
}

body {
  overflow-x: hidden;
}
.app {
  min-height: 100vh;
  padding-bottom: 0.5rem;

  background-color: #24ff57;
  .navbar-cont {
    background-color: $blackish;
    padding: 14px 4rem;
    @include direction(row);
    .search-cont {
      background-color: $dark-color;
      display: flex;
      align-items: center;
      border-radius: 4px;
      input {
        background-color: $dark-color;
        border: none;
        padding: 6px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: #ffffff;
        font-size: 18px;
        outline: none;
      }
      .Icon {
        color: $greyish;
        font-size: 23px;
        cursor: pointer;
      }
      @include media(">=320px", "<=425px") {
        display: none;
      }
    }
    .icon-cont {
      .Icon1 {
        color: #ffffff;
        font-size: 23px;
        cursor: pointer;
      }
      .Icon2 {
        color: #252525;
        font-size: 23px;
        cursor: pointer;
      }
    }
    @include media(">=320px", "<=425px") {
      display: flex;
      justify-content: space-around;
      gap: 6px;
      margin: 0;
      padding: 0;
      padding: 10px 4px;
    }
  }
  .small-card-container-list {
    .search-cont {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      input {
        min-width: 200px;
      }
      @include media(">425px") {
        display: none;
      }
    }
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr 3fr;
      align-items: center;
      gap: 20px;
      margin-right: 20px;
      padding: 20px;
      padding-right: 0px;
      @include media("<=desktop") {
        padding-right: 0.2rem;
      }
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-radius: 3px;
        gap: 8px;
        @include media(">=320px", "<=425px") {
          display: flex;
          flex-direction: column;
          justify-self: flex-start;
        }
        .title-cont {
          display: flex;
          align-items: center;
          gap: 10px;
          @include media(">=320px", "<=425px") {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
          img {
            width: 40px;
            height: 40px;
            background-color: #c4baff;
            border-radius: 50%;
            padding: 8px;
            object-fit: contain;
          }
          h1 {
            font-size: 19px;
          }
        }
        .content {
          color: #ff2424;
          @include media("<=tablet") {
            gap: 20px;
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
          @include media(">phone", "<=425px") {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
          .profit {
            color: #24ff57;
          }
        }
      }
      @include media("<=desktop", ">768px") {
        display: grid;
        grid-template-columns: 2fr 2fr;
      }
      @include media(">=320px", "<=768px") {
        display: grid;
        grid-template-columns: 2fr 2fr;
        justify-content: center;
      }
      @include media(">=320px", "<=425px") {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .middle-stock-cont {
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    gap: 18px;
    margin-bottom: 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.3rem;
    .candle-stock-cont {
      flex: 6;
      background-color: $blackish;
      border-radius: 5px;
      padding: 0.7rem;
      height: 80vh;
      @include media(">=320px", "<=768px") {
        height: 120vh;
      }
      h2 {
        color: #ebecec;
        margin-bottom: 2rem;
      }
    }
    .table-stock-cont {
      flex: 6;
      padding: 1rem;
      height: 80vh;
      h1 {
        color: #ebecec;
        font-size: 23px;
      }
      .table-scroll-container {
        height: 65vh;
        overflow: auto;
        margin-top: 0.5rem;
        @include media(">=320px", "<=768px") {
          height: 80vh;
          margin-top: 10px;
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          margin-top: 16px;
          td,
          th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            color: #ebecec;
          }
        }
      }
      @include media(">=320px", "<=768px") {
        height: 120vh;
      }
    }
    @include media(">=320px", "<=768px") {
      display: flex;
      flex-direction: column;
    }
  }
}
